docs/node_modules
docs/.docusaurus/
docs/build/
node_modules

src/STT/.env
src/robot/LLM/LLM-Andev/.env

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak
src/robot/LLM/LLM-Andev/.env
src/robot/LLM/LLM-Andev/.env
